a.no-underline {
    text-decoration: none;
}
a.no-underline:hover {
    text-decoration: none;
}

img.friendly-link-avatar {
    border-radius: 8px;
    height: 100px;
}
.avatar-wrapper {
    flex-shrink: 0;
    margin-left: 14px; /* 添加左边距 */
}
.text-wrapper {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}
.name-date-wrapper {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}
.friendly-link-frame-size {
    height: 128px;
    margin: 20px 8px;
    align-items: center;
    gap: 16px;
}
.friendly-link-frame-style {
    position: relative;
    color: #505050;
    /*box-shadow: 0 1px 30px -4px #e8e8e8;*/
    /*background: #EFD9FDB3;*/
    text-indent: 0;
    -webkit-transition: all .2s;
    transition: all .2s;
    display: flex;
}
.friendly-link-frame-style.desktop {
    border-radius: 8px;
    border-right: 0px solid transparent;
}
.friendly-link-frame-style.mobile {
    border-radius: 8px 8px 8px 8px;
    border-width: 8px;
    border-bottom: 8px transparent solid;
}
.friendly-link-frame-style:hover {
    box-shadow: 0 1px 20px 10px #e8e8e8;
    background: #AAAAAAFF;
    -webkit-transition: all .2s;
    transition: all .2s;
}
.friendly-link-frame-style.desktop:hover {
    border-right: 20px solid #2582c8;
}
.friendly-link-frame-style.mobile:hover {
    border-bottom: 8px solid #2582c8;
}
body.dark .friendly-link-frame-style.mobile:hover {
    border-bottom: 8px solid #2582c8;
}
.friendly-link-frame-style i {
    padding-right: 20px !important;
    font-size: medium;
}
.friendly-link-frame-style a {
    padding: 5px !important;
}
.friendly-link-frame-style:hover p {
    color:  #000000 !important;
    transition: color 0.2s !important;
}
body.dark .friendly-link-frame-style {
    color: #FFFFFF;
    /*box-shadow: 0 1px 20px 2px rgba(26, 26, 26, 0.8);*/
    /*background: #3B2E5899;*/
    /*-webkit-transition: all .2s;
    transition: all .2s;*/
}
body.dark .friendly-link-frame-style:hover {
    box-shadow: 0 1px 30px -2px var(--theme-skin-dark);
    background: #444444FF;
    /*-webkit-transition: all .2s;
    transition: all .2s;*/
}
body.dark .friendly-link-frame-style:hover p {
    color:  #FFFFFF !important;
}


.friendly-link-name {
    font-weight: bold;
    margin: 0;
    text-align: left;
    font-size: 24px;
}
.friendly-link-add-date {
    margin: 0;
    margin-right: 14px; /* 添加右边距 */
}
.friendly-link-description {
    margin-top: 10px;
    margin-bottom: 0;
}


.friendly-link-frame-size-mo {
    display: none;
    flex-direction: column;        
    margin: 10px 0px;
    gap: 8px;
}
img.friendly-link-avatar-mo {
    border-radius: 8px;
    height: 64px;
}
.avatar-date-star-wrapper-mo {
    display: flex;
    margin: 10px 10px 0px 10px;
    justify-content: space-between;
    align-items: center;
    /*align-items: baseline;
    justify-content: space-between;
    flex-shrink: 0;
    margin-left: 14px;  添加左边距 */
}    
.date-star-wrapper-mo {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin: 0px -10px 0px 0px;
}
.name-description-wrapper-mo {
    display: flex;
    flex-direction: column;
    margin: 0px 10px 10px 12px;
}
.name-description-wrapper-mo p.friendly-link-name{
    font-size: 20px;
}


@media (max-width: 860px){
    .desktop {
        display: none;
    }
    .mobile {
        display: flex;
    }
}